<div>
  <h2 id="page-heading" data-cy="PersonProfileHeading">
    <span jhiTranslate="singlesMeetup2App.personProfile.home.title">Person Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="singlesMeetup2App.personProfile.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-person-profile"
        [routerLink]="['/person-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="singlesMeetup2App.personProfile.home.createLabel">Create a new Person Profile</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (personProfiles().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="singlesMeetup2App.personProfile.home.notFound">No Person Profiles found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span jhiTranslate="singlesMeetup2App.personProfile.firstName">First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span jhiTranslate="singlesMeetup2App.personProfile.lastName">Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dob">
              <div class="d-flex">
                <span jhiTranslate="singlesMeetup2App.personProfile.dob">Dob</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gender">
              <div class="d-flex">
                <span jhiTranslate="singlesMeetup2App.personProfile.gender">Gender</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bio">
              <div class="d-flex">
                <span jhiTranslate="singlesMeetup2App.personProfile.bio">Bio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="interests">
              <div class="d-flex">
                <span jhiTranslate="singlesMeetup2App.personProfile.interests">Interests</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location">
              <div class="d-flex">
                <span jhiTranslate="singlesMeetup2App.personProfile.location">Location</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="internalUser.id">
              <div class="d-flex">
                <span jhiTranslate="singlesMeetup2App.personProfile.internalUser">Internal User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="events.id">
              <div class="d-flex">
                <span jhiTranslate="singlesMeetup2App.personProfile.events">Events</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (personProfile of personProfiles(); track trackId(personProfile)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/person-profile', personProfile.id, 'view']">{{ personProfile.id }}</a>
              </td>
              <td>{{ personProfile.firstName }}</td>
              <td>{{ personProfile.lastName }}</td>
              <td>{{ personProfile.dob | formatMediumDate }}</td>
              <td>{{ personProfile.gender }}</td>
              <td>{{ personProfile.bio }}</td>
              <td>{{ personProfile.interests }}</td>
              <td>{{ personProfile.location }}</td>
              <td>
                {{ personProfile.internalUser?.id }}
              </td>
              <td>
                @for (events of personProfile.events; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/event', events.id, 'view']">{{ events.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/person-profile', personProfile.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/person-profile', personProfile.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(personProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
