<div class="hero-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="display-4">Welcome to Singles Meetup</h1>
        <p class="lead">Find your perfect match at our exciting events</p>
        <div class="d-flex flex-row justify-content-center align-items-center gap-3 my-4">
          @if (!account()) {
            <button class="btn btn-warning btn-lg px-4 py-2" (click)="goToLanding()">Book your seat</button>
          }
          <button class="btn btn-outline-light btn-lg px-4 py-2">View events</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-0">
        <div class="card-body">
          <h2 class="card-title text-left">Upcoming Events</h2>
          <jhi-event />
        </div>
      </div>
    </div>
  </div>
</div>


<!-- How It Works Section -->
<div class="container pt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-0">
        <div class="card-body">
          <h2 class="card-title text-left">How It Works</h2>
          <div class="info-boxes-wrapper">
            <div class="info-boxes-container">
              <div class="alert alert-dismissible alert-warning step-alert">
                <span class="badge bg-info rounded-pill">1</span>
                <strong>Take our quick personality test</strong>
                <p>Complete a quick personality test and let our algorithm do the rest.</p>
              </div>
              <div class="alert alert-dismissible alert-success step-alert">
                <span class="badge bg-primary rounded-pill">2</span>
                <strong>We match you with 5 strangers</strong>
                <p>Our algorithm selects 5 compatible humans for an engaging evening and meaningful conversations.</p>
              </div>
              <div class="alert alert-dismissible alert-danger step-alert">
                <span class="badge bg-secondary rounded-pill">3</span>
                <strong>We book and organize</strong>
                <p>We provide everything you need to have a great night: insights into your group and your restaurant details.</p>
              </div>
              <div class="alert alert-dismissible alert-info step-alert">
                <span class="badge bg-warning rounded-pill">4</span>
                <strong>Show up, dive into a unique experience</strong>
                <p>Break the ice with our game and create genuine connections with like-minded strangers.</p>
              </div>
              <div class="alert alert-dismissible alert-warning step-alert">
                <span class="badge bg-success rounded-pill">5</span>
                <strong>Rate your experience, stay connected</strong>
                <p>Choose who you want to stay connected with. If it's mutual, start chatting and keep the conversation flowing.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-0">
        <div class="card-body">
          <h2 class="card-title text-left">FAQ</h2>
          <jhi-faq></jhi-faq>
        </div>
      </div>
    </div>
  </div>
</div>

