<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-user-event-heading"
        data-cy="UserEventCreateUpdateHeading"
        jhiTranslate="singlesMeetup2App.userEvent.home.createOrEditLabel"
      >
        Create or edit a User Event
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="singlesMeetup2App.userEvent.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="singlesMeetup2App.userEvent.status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_checkedIn" jhiTranslate="singlesMeetup2App.userEvent.checkedIn">Checked In</label>
          <input type="checkbox" class="form-check" name="checkedIn" id="field_checkedIn" data-cy="checkedIn" formControlName="checkedIn" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_matchCompleted" jhiTranslate="singlesMeetup2App.userEvent.matchCompleted"
            >Match Completed</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="matchCompleted"
            id="field_matchCompleted"
            data-cy="matchCompleted"
            formControlName="matchCompleted"
          />
        </div>

        @let paymentStatusRef = editForm.get('paymentStatus')!;
        <div class="mb-3">
          <label class="form-label" for="field_paymentStatus" jhiTranslate="singlesMeetup2App.userEvent.paymentStatus"
            >Payment Status</label
          >
          <select
            class="form-control"
            name="paymentStatus"
            formControlName="paymentStatus"
            id="field_paymentStatus"
            data-cy="paymentStatus"
          >
            <option [ngValue]="null">{{ 'singlesMeetup2App.PaymentStatus.null' | translate }}</option>
            @for (paymentStatus of paymentStatusValues; track $index) {
              <option [value]="paymentStatus">{{ 'singlesMeetup2App.PaymentStatus.' + paymentStatus | translate }}</option>
            }
          </select>
          @if (paymentStatusRef.invalid && (paymentStatusRef.dirty || paymentStatusRef.touched)) {
            <div>
              @if (editForm.get('paymentStatus')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_personProfile" jhiTranslate="singlesMeetup2App.userEvent.personProfile"
            >Person Profile</label
          >
          <select
            class="form-control"
            id="field_personProfile"
            data-cy="personProfile"
            name="personProfile"
            formControlName="personProfile"
            [compareWith]="comparePersonProfile"
          >
            <option [ngValue]="null"></option>
            @for (personProfileOption of personProfilesSharedCollection; track $index) {
              <option [ngValue]="personProfileOption">{{ personProfileOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_event" jhiTranslate="singlesMeetup2App.userEvent.event">Event</label>
          <select class="form-control" id="field_event" data-cy="event" name="event" formControlName="event" [compareWith]="compareEvent">
            <option [ngValue]="null"></option>
            @for (eventOption of eventsSharedCollection; track $index) {
              <option [ngValue]="eventOption">{{ eventOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
